[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1720: 标识符包含类型名称
dotnet_diagnostic.CA1720.severity = none

# CA1307: 指定 StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA1304: 指定 CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA5351: 不要使用损坏的加密算法
dotnet_diagnostic.CA5351.severity = none

# CA1707: 标识符不应包含下划线
dotnet_diagnostic.CA1707.severity = none

# CA1721: 属性名不应与 get 方法匹配
dotnet_diagnostic.CA1721.severity = none

# CA1822: 将成员标记为 static
dotnet_diagnostic.CA1822.severity = none

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = none

# CA1307: 指定 StringComparison
dotnet_diagnostic.CA1307.severity = none

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = none

# CA1819: 属性不应返回数组
dotnet_diagnostic.CA1819.severity = none

# CA1826: Do not use Enumerable methods on indexable collections
dotnet_diagnostic.CA1826.severity = none

# CA2100: Review SQL queries for security vulnerabilities
dotnet_diagnostic.CA2100.severity = silent

# IDE0090: 使用 "new(...)"
dotnet_diagnostic.IDE0090.severity = none
