<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp desktop uap5 rescap">

  <Identity
    Name="36186RuoFan.USB"
    Publisher="CN=4FF1CB23-04BD-4F9C-A86A-B4A43196FE02"
    Version="4.3.9.0" />

  <mp:PhoneIdentity PhoneProductId="cb13434c-d58e-4756-a099-364235a676db" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ms-resource:AppDisplayName</DisplayName>
    <PublisherDisplayName>Ruo_Fan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="FileManager.App">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="ms-resource:AppDisplayName"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="ms-resource:AppDisplayName">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="transparent"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="FullTrust\FullTrustProcess.exe"/>
        <uap5:Extension Category="windows.startupTask" EntryPoint="FileManager.App" Executable="FileManager.exe">
          <uap5:StartupTask DisplayName="RX_Startup_Task" Enabled="true" TaskId="RXExplorer"/>
        </uap5:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="UpdateCheckBackgroundTask.UpdateCheck">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.autoPlayContent">
          <uap:AutoPlayContent>
            <uap:LaunchAction ActionDisplayName="ms-resource:USBDisplayName" Verb="USBArrival" ContentEvent="StorageOnArrival"/>
          </uap:AutoPlayContent>
        </uap:Extension>
        <uap:Extension Category="windows.appService" EntryPoint="CommunicateService.Service">
          <uap:AppService Name="CommunicateService"/>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="confirmAppClose"/>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <Capability Name="internetClientServer"/>
    <uap:Capability Name="removableStorage"/>
    <uap:Capability Name="userAccountInformation"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="microphone"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>