<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
  xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap mp desktop uap5 rescap desktop5 com desktop4 iot2 uap3">

  <Identity
    Name="36186RuoFan.USB"
    Publisher="CN=4FF1CB23-04BD-4F9C-A86A-B4A43196FE02"
    Version="6.9.5.0" />

  <Properties>
    <DisplayName>ms-resource:App_Display_Name</DisplayName>
    <PublisherDisplayName>Ruo_Fan</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="zh-Hans"/>
    <Resource Language="fr-FR"/>
    <Resource Language="zh-Hant"/>
    <Resource Language="es"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
      desktop4:SupportsMultipleInstances="true"
      iot2:SupportsMultipleInstances="true">

      <uap:VisualElements
        DisplayName="ms-resource:App_Display_Name"
        Description="ms-resource:App_Display_Name"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png" ShortName="ms-resource:AppDisplayName">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Images\SplashScreen.png"  BackgroundColor="transparent"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="FullTrustProcess\FullTrustProcess.exe"/>
        <uap5:Extension Category="windows.startupTask" EntryPoint="RX_Explorer.App" Executable="RX_Explorer.exe">
          <uap5:StartupTask DisplayName="RX_Startup_Task" Enabled="true" TaskId="RXExplorer"/>
        </uap5:Extension>
        <desktop4:Extension Category="windows.fileExplorerContextMenus">
          <desktop4:FileExplorerContextMenus>
            <desktop5:ItemType Type="Directory">
              <desktop5:Verb Clsid="e82bd2a8-8d63-42fd-b1ae-d364c201d8a7" Id="OpenDirectory"/>
            </desktop5:ItemType>
          </desktop4:FileExplorerContextMenus>
        </desktop4:Extension>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:SurrogateServer DisplayName="RX_ContextMenu_Handler">
              <com:Class Id="e82bd2a8-8d63-42fd-b1ae-d364c201d8a7" Path="OpenDirectoryExt.dll" ThreadingModel="STA"/>
            </com:SurrogateServer>
          </com:ComServer>
        </com:Extension>
        <Extension Category="windows.updateTask" EntryPoint="MaintenanceTask.MaintenanceTask"/>
        <Extension Category="windows.backgroundTasks" EntryPoint="UpdateCheckBackgroundTask.UpdateCheck">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.appService" EntryPoint="CommunicateService.Service">
          <uap:AppService Name="CommunicateService"/>
        </uap:Extension>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="rx-explorer">
            <uap:DisplayName>ms-resource:AppDisplayName</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap5:Extension Category="windows.appExecutionAlias" Executable="RX_Explorer.exe" EntryPoint="RX_Explorer.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="RX-Explorer.exe"/>
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="confirmAppClose"/>
    <rescap:Capability Name="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <Capability Name="internetClientServer"/>
    <Capability Name="privateNetworkClientServer" />
    <uap:Capability Name="removableStorage"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="6AC27878-A6FA-4155-BA85-F98F491D4F33"/>
    <DeviceCapability Name="BA0C718F-4DED-49B7-BDD3-FABE28661211"/>
    <DeviceCapability Name="6BDD1FC6-810F-11D0-BEC7-08002BE2092F"/>
  </Capabilities>
</Package>
